                <div class='pie'>
                    <p>Copyright &COPY; 2019 Yomy Software Todos los derechos reservados <br>
                        <a href="ayuda.html"> Ayuda </a> &nbsp;&nbsp;&nbsp;&nbsp;
                    </p>
                </div>