 <nav class="navbar navbar-expand-lg navbar-light bg-light">
     <a class="navbar-brand" href="../index.html"><img src="../img/logo.png" alt="" height="50" width="80"></a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mr-auto">
             <li class="nav-item active">
                 <a id="color" href="directorio.html"><em class="fas fa-address-book"></em> Directorio<span class="sr-only">(current)</span></a>
             </li>
             &emsp;
             <li class="nav-item active">
                 <a id="color" href="emprendedores.html"><em class="fas fa-address-book"></em>Emprendedores<span class="sr-only">(current)</span></a>
             </li>
             &emsp;
             <li class="nav-item">
                 <a id="color" href="contacto.html"><em class="fas fa-envelope"></em> Contacto</a>
             </li>
             &emsp;
             <li class="nav-item">
                 <a id="color" href="planes.html"><em class="fas fa-dollar-sign"></em> Planes</a>
             </li>

             &emsp;
             <li class="nav-item">
                 <a id="color" href="../vistas/ayuda.html"><em class="fas fa-question"></em> Ayuda</a>
             </li>

             &emsp;&emsp; &emsp;&emsp; &emsp;&emsp; &emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
             <li class="nav-item">
                 <a id="color" href="login_emprendedor.html"> <em class="fas fa-sign-in-alt"></em> Iniciar
                     sesión</a>
             </li>
         </ul>
     </div>
 </nav>
