 <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="perfil_user.html"><img src="../img/logo.png" alt="" height="50" width="80"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a id="color" href="perfil_user.html"><em class="fas fa-address-book"></em> Perfil<span class="sr-only">(current)</span></a>
                    </li>
                    &emsp;
                    <li class="nav-item">
                        <a id="color" href="perfil_user_modificar.html"><em class="fas fa-address-card"></em>
                            Modificar Información</a>
                    </li>
                    &emsp;
                    <li class="nav-item">
                        <a id="color" href="registro_empresa.html"><em class="fas fa-building"></em> Publicar
                            Empresa</a>
                    </li>
                    &emsp;
                    <li class="nav-item modificar">
                        <a id="color" href="perfil_empresa_modificar.html"><em class="fas fa-address-book"></em>Modificar Empresa<span class="sr-only">(current)</span></a>
                    </li>
                    &emsp;
                    <li class="nav-item active">
                        <a id="color" href="perfil_directorio.html"><em class="fas fa-address-book"></em>
                            Directorio<span class="sr-only">(current)</span></a>
                    </li>
                    &emsp;
                    <li class="nav-item active">
                        <a id="color" href="perfil_emprendedores.html"><em class="fas fa-address-book"></em>
                            Emprendedores<span class="sr-only">(current)</span></a>
                    </li>
                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                    <li class="nav-item">
                        <a id="color" href="login_emprendedor.html" onclick="cerrarSesion()"> <em class="fas fa-sign-out-alt"></em> Cerrar sesión</a>
                    </li>

                </ul>
            </div>
        </nav>