#banner_contacto {
    border: solid 1px #000;
    width: 100%;
    height: 200px;
    display: block;
    margin: auto;
}

/*DA EL TAMAÑO AL CONTENEDOR*/
#contenedor {
    border: solid 1px #000;
    height: 900px;
    width: 100%;
    text-align: left;
    background: transparent;
    padding: 30px;
}
/*POSICIONA EL FORMULARIO DE CONTACTO*/
#formulario{
    margin-top: -450px;
    margin-left: 700px;
}
/* MUEVE LA INFORMACION A LA DERECHA*/
#informacion{
    margin-left: 120px;
}


/*DISEÑO DEL PIE DE PAGINA*/
footer {
    position: relative;
    background: #000;
    text-align: center;
    bottom: 0;
    width: 100%;
    padding-top:10px;
    padding-bottom:10px;
    color: #fff;
}

/*DEFINE LO ANCHO AUTOMATICAMENTE */
.pie {
    width:auto;
    margin:0 auto;
}

/*cambia el color de un enlace seleccionado */
#color{
  color: black;
}

#color:hover{
  color: #03D1Aa;
}


#color-selec{
    color: #03D1Aa;
}

#help{
    text-align: center;
}

#help2{
    text-align: left;
}

/*Redes sociales*/
@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?i226ha');
    src:  url('fonts/icomoon.eot?i226ha#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?i226ha') format('truetype'),
      url('fonts/icomoon.woff?i226ha') format('woff'),
      url('fonts/icomoon.svg?i226ha#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon', serif !important;
    speak-as: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-facebook:before {
    content: "\ea90";
  }
  .icon-instagram:before {
    content: "\ea92";
  }
  .icon-twitter:before {
    content: "\ea96";
  }
  .icon-youtube:before {
    content: "\ea9d";
  }
  
  
  
  
  /*CODIGO MAIN CSS*/
  html {
      font-size: 16px;
  }
  
  .social-bar {
      position: fixed;
      right: 0;
      top: 35%;
      font-size: 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      z-index: 100;
  }
  
  .icon {
      color: white;
      text-decoration: none;
      padding: .7rem;
      display: flex;
      transition: all .5s;
  }
  
  .icon-facebook {
      background: #2E406E;
  }
  
  .icon-twitter {
      background: #339DC5;
  }
  
  .icon-youtube {
      background: #E83028;
  }
  
  .icon-instagram {
      background: #e34dbb;
  }
  
  .icon:first-child {
      border-radius: 1rem 0 0 0;
  }
  
  .icon:last-child {
      border-radius: 0 0 0 1rem;
  }
  
  .icon:hover {
      padding-right: 3rem;
      border-radius: 1rem 0 0 1rem;
      box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
  }
  