/*Fondo*/
body {
  background-image: url(../img/fonfo.png);
}

.container {
  background: #fff;
}


/*DISEÑO DEL PIE DE PAGINA*/
footer {
  height: auto;
  position: relative;
  background: #000;
  text-align: center;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
}



/*DEFINE LO ANCHO AUTOMATICAMENTE */
.pie {
  width: auto;
  margin: 0 auto;
}

#right {
  overflow: scroll;
  height: 300px;
  background: #F1F1F1;

}

#left {
  overflow: scroll;
  height: 300px;
  background: #F1F1F1;
}

#imgright {
  margin-left: 25%;
  height: 200px;
}

/*cambia el color de un enlace seleccionado */
#color {
  color: black;
}

#color:hover {
  color: #03D1Aa;
}


#color-selec {
  color: #03D1Aa;
}

/*Inicia el social bar*/
.icon-bar {
  position: fixed;
  top: 50%;
   right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}
.content {
  margin-left: 75px;
  font-size: 30px;
}