/* CAMBIA EL FONDO DE TODA LA PAGINA*/
body {
    background-color: gray;
}

/*Fondo*/
#banner_pagina {
    width: 100%;
    height: 585px;
}

/* TAMAÑO Y POSICION DEL CARRUSEL*/

#carouselExampleIndicators {
    margin-top: 1%;
    width: 70%;
    margin-left: 30%;

}



/*DISEÑO DE LA SUBSCRIPCION*/
.container-subscripcion {
    width: 360px;
    border: 1px solid #FFF;
    background: #FFF;
    margin-right: 950px;
    margin-top: -350px;
    padding: 40px;
    box-shadow: 0 0 80px #CCC;
    box-shadow: 0 0 80px #CCC;
    box-shadow: 0 0 80px #CCC;
}

.input-icon {
    position: relative;
}

.input-icon input {
    text-indent: 30px;
}

.input-icon .fa-name {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 15px;
}

.header {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
}

.form-input {
    display: block;
    margin-top: 20px;
    width: 100%;
    font-size: 14px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #ededed;
    background: #ededed;
}

#btn-subscriber{
  /*  background: url("../img/subscribe_btn.png") no-repeat scroll 0 0 transparent; */
    color: #000000;
    cursor: pointer;
    font-weight: bold;
    height: 52px;
    width: 150px;
    border: none;
    margin-top: 20px;
}

.alert {
    border-radius: .25rem;
    border: 1px solid transparent;
    margin-bottom: 1rem;
    padding: .75rem 1.25rem;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
}

.alert-danger {
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
}

.alert-info {
    background-color: #d9edf7;
    border-color: #bcdff1;
    color: #31708f;
}

/*DISEÑO BANNER AYUDA*/
#banner_ayuda {
    width: 60%;
    height: 450px;
}

/*DISEÑO BANNER BUSCAS EMPRENDEDORES*/
#banner_buscasemprendedores {
    width: 100%;
    height: 500px;
}

.container {
    text-align: justify-all;
}


/*DISEÑO PARA BOTON FLOTANTE VOLVER ARRIBA*/
.back-to-top {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: block;
    background: tomato;
    color: white;
    padding: 0.3rem 1rem;
    transition: all 0.5s linear;
    cursor: pointer;
    opacity: 0.3;
}

.back-to-top:hover {
    opacity: 1;
}




/*DISEÑO DEL PIE DE PAGINA*/
footer {
    position: relative;
    /*ALTURA EN VALORES NEGATIVOS*/
    margin-top: -50px;
    /*ALTURA*/
    height: auto;
    padding: 5px 0px;
    clear: both;
    background: #000;
    text-align: center;
    color: #fff;
}

/*DEFINE LO ANCHO AUTOMATICAMENTE */
.pie {
    width: auto;
    margin: 0 auto;
}




/*cambia el color de un enlace seleccionado */
#color{
  color: black;
}

#color:hover{
  color: #03D1Aa;
}

#color:active{
  color: blue;
}



#help{
    text-align: center;
}
