/* DA FORMATO AL PIE DE PAGINA*/
footer {
    position: relative;
    /*ALTURA EN VALORES NEGATIVOS*/
    margin-top: -48px;
    /*ALTURA*/
    height: auto;
    padding:5px 0px;
    clear: both;
    background: #000;
    text-align: center;
    color: #fff;
}
.pie {
    width:auto;
    margin:0 auto;
}
.comments{
    text-align: justify;
    margin: 0 auto;
}
.miLabel{
    text-align: center;
    margin: 0 auto;
}
.soloLetra{
    text-align: center;
    margin: 0 auto;
}

/*cambia el color de un enlace seleccionado */
#color{
  color: black;
}

#color:hover{
  color: #03D1Aa;
}


#color-selec{
    color: #03D1Aa;
}