body {
    background-image: url(../img/fonfo.png);
}

#banner_empresa {
    width: 100%;
    height: 580px;
}

.miContenido {
    text-align: center;
    padding: 1rem;
    margin: 0 auto;
    width: 70%;

}

#boton_centrado {
    text-align: center;
    padding: 1rem;
    margin: 0 auto;
    width: 70%;
}

#publicacionNoticias {
    text-align: center;
    padding: 1rem;
    margin: 0 auto;
    width: 70%;
}

#negocio {
    text-align: center;
}


/*DA FORMATO AL PIE DE PAGINA*/
footer {
    position: relative;
    margin-top: -48px;
    height: auto;
    padding: 5px 0px;
    clear: both;
    background: #000;
    text-align: center;
    color: #fff;
}


/*cambia el color de un enlace seleccionado */
#color {
    color: black;
}

#color:hover {
    color: #03D1Aa;
}


#color-selec {
    color: #03D1Aa;
}

#parrafo {
    text-align: center;
}

#help {
    text-align: center;
}

#messageAyuda2 {
    text-align: right;

}
