#bannerproxi {
    margin-left: 20%;
    width: 50%;
    height: 585px;
}

body {
    margin: 0;
    padding: 0;
     background: url(../img/fonfo.png) no-repeat center top; 
    background-size: cover;
    font-family: sans-serif;
    /*background-color: rgba(166, 241, 108, 0.26);*/
    background-color: #03D1Aa;
    height: 100vh;
}


#contenedor {
    width: 60%;
    margin-left: 20%;
    height: 400px;
    padding: 5%;
}

.logoimg {
    position: absolute;
    top: 1%;
    left: 30%;
}

#return {
    color: #000;
    bottom: 9%;
    position: absolute;
}

#btnlogin {
    position: absolute;
    left: 35%;
}
#centraar{
    margin-left: 15%;
   text-align: center;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    height: 550px;
    border-radius: 30px;
    /*background: #fff;*/
    background: #fff;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, .1);
}

.box h2 {
    margin: 0 0 40px;
    padding: 0;
    color: #fff;
    text-transform: uppercase;
}

.box input {
    padding: 10px 0;
    margin-bottom: 30px;
}

.box input[type="text"],
.box input[type="password"],
.box input[type="email"] {
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 2px solid #999;
    border-radius: 9px;
}

#btn_login {
    width: 30%;
    height: 35px;
    border-radius: 10px;
    border-bottom: none;
    cursor: pointer;
    background: #03D1Aa;
    color: #000;
    margin-bottom: 0;
    text-transform: uppercase;
}

#registrar {
    width: 30%;
    height: 35px;
    border-radius: 10px;
    border-bottom: none;
    cursor: pointer;
    background: #03D1Aa;
    color: #000;
    margin-bottom: 0;
    text-transform: uppercase;
}



.box input[type="submit"]:hover {
    border: #000;
}

.box form div {
    position: relative;
}

.box form div label {
    position: absolute;
    top: 10px;
    left: 0;
    color: #999;
    transition: .5s;
    pointer-events: none;
}

.box input:focus ~ label,
.box input:valid ~ label {
    top: -15px;
    left: 0;
    color: #03D1Aa;
    font-size: 14px;
    font-weight: bold;
    border-bottom: #ffffff;
}


/* DA FORMATO AL PIE DE PAGINA*/
footer {
    position: relative;
    /*ALTURA EN VALORES NEGATIVOS*/
    margin-top: -10px;
    /*ALTURA*/
    height: auto;
    padding:5px 0px;
    clear: both;
    background: #000;
    text-align: center;
    color: #fff;
}
.pie {
    width:auto;
    margin:0 auto;
}



/*cambia el color de un enlace seleccionado */
#color{
  color: black;
}

#color:hover{
  color: #03D1Aa;
}


#color-selec{
    color: #03D1Aa;
}

#help{
    text-align: center;
}