/* DA FORMATO AL PIE DE PAGINA*/
/*DA FORMATO AL PIE DE PAGINA*/
footer {
    position: relative;
    margin-top: -48px;
    height: auto;
    padding: 5px 0px;
    clear: both;
    background: #000;
    text-align: center;
    color: #fff;
}

/*cambia el color de un enlace seleccionado */
#color{
  color: black;
}

#color:hover{
  color: #03D1Aa;
}


#color-selec{
    color: #03D1Aa;
}


/*BOTON DE AYUDA */
#messageAyuda2{
  text-align:  right;
}