/*Banner administrador*/
body{
    background-image: url(../img/fonfo.png);
}

/* DA BORDES AL FORMULARIO DE REGISTRAR*/
#frmRegistrar{
    border-radius: 20px;
}


/*DA COLOR A LOS BOTONES REGISTRAR Y LIMPIAR */
#btnRegistrar,
#btnLimpiar{
    background: #03D1Aa;
    color: #000;
}

/* DA FORMATO AL PIE DE PAGINA*/
footer {
    position: relative;
    /*ALTURA EN VALORES NEGATIVOS*/
    margin-top: -48px;
    /*ALTURA*/
    height: auto;
    padding:5px 0px;
    clear: both;
    background: #000;
    text-align: center;
    color: #fff;
}
.pie {
    width:auto;
    margin:0 auto;
}

/*cambia el color de un enlace seleccionado */
#color{
  color: black;
}

#color:hover{
  color: #03D1Aa;
}


#color-selec{
    color: #03D1Aa;
}

#help{
    text-align: center;
}

#help2{
    margin-left: 17% ;
    text-align: center;
}